* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url('./assets/trees.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
